<div class="col s12">
    <h1>Tarde:</h1>
    <h2><%= moment(data.MiddayDate).format('LL') %></h2>
</div>

<div class="col s4">
    <div class="card">
        <div class="card-image">
            <div class="img-container">
                <div class="img" data-index="<%= results.fijoMid %>"></div>
            </div>
            <div class="card-content center-align">
                <span class="name">Fijo<br></span><span
                        class="result"><%= results.centenaMid %>-<%= results.fijoMid %></span>
            </div>
        </div>
    </div>
</div>
<div class="col s4">
    <div class="card">
        <div class="card-image">
            <div class="img-container">
                <div class="img" data-index="<%= results.Corrido1Mid %>"></div>
            </div>
            <div class="card-content center-align">
                <span class="name">Corrido1<br></span><span class="result"><%= results.Corrido1Mid %></span>
            </div>
        </div>
    </div>
</div>
<div class="col s4">
    <div class="card">
        <div class="card-image">
            <div class="img-container">
                <div class="img" data-index="<%= results.Corrido2Mid %>"></div>
            </div>
            <div class="card-content center-align">
                <span class="name">Corrido2<br></span><span class="result"><%= results.Corrido2Mid %></span>
            </div>
        </div>
    </div>
</div>

<div class="col s12">
    <h1>Noche:</h1>
    <h2><%= moment(data.EveningDate).format('LL') %></h2>
</div>

<div class="col s4">
    <div class="card">
        <div class="card-image">
            <div class="img-container">
                <div class="img" data-index="<%= results.fijoEve %>"></div>
            </div>
            <div class="card-content center-align">
                <span class="name">Fijo<br></span><span
                        class="result"><%= results.centenaEve %>-<%= results.fijoEve %></span>
            </div>
        </div>
    </div>
</div>
<div class="col s4">
    <div class="card">
        <div class="card-image">
            <div class="img-container">
                <div class="img" data-index="<%= results.Corrido1Eve %>"></div>
            </div>
            <div class="card-content center-align">
                <span class="name">Corrido1<br></span><span class="result"><%= results.Corrido1Eve %></span>
            </div>
        </div>
    </div>
</div>
<div class="col s4">
    <div class="card">
        <div class="card-image">
            <div class="img-container">
                <div class="img" data-index="<%= results.Corrido2Eve %>"></div>
            </div>
            <div class="card-content center-align">
                <span class="name">Corrido2<br></span><span class="result"><%= results.Corrido2Eve %></span>
            </div>
        </div>
    </div>
</div>

<div class="col s12" style="margin-top: 1.5rem">
    <small>Los resultados pueden demorar de 2 a 30 minutos en ser publicados en la web oficial de apuestas de Florida,
        de
        donde salen nuestros números.</small>
</div>

<%- '<serviceImgPath data="{{APP_SERVICE_PATH}}/images"></serviceImgPath>' %>

<!-- SHARE MODAL -->
<% shareButtonEnabled = true; %>
<% init(data) %>

<div id="shareModal" class="modal">
    <div class="modal-content">
        <div class="input-field">
            <textarea id="message" class="materialize-textarea" style="color:black;"></textarea>
            <label for="message">Escriba un texto para compartir</label>
        </div>
        <ul class="collection one-line preview">
            <li class="collection-item avatar">
                <i class="fas fa-<%= share.icon %> material-icons circle"></i>
                <span class="title" style="color:black;"><%- share.text %></span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
        <a onclick="share.send()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
    </div>
</div>