<!-- CHANGE DATE -->

<div class="row">
	<div class="col s12">
		<div class="input-field center-align">
			<i class="material-icons prefix">date_range</i>
			<input type="text" class="datepicker" onkeypress="return false;">
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<span class="chip tiny yellow lighten-1"><i class="far fa-sun"></i> Día</span>
	</div>

	<!-- DIA FIJO -->

	<div class="col s4 m2">
		<div class="card user-card center-align">
			<div class="content">
				<div class="img-container actual orange">
					<div class="img" style="<%= getImage(fijo_day-1, "{{APP_SERVICE_PATH}}/images") %>"></div>
				</div>
				<span class="blue-grey-text"><%= getName(fijo_day-1) %></span>
			</div>
			<div class="action grey lighten-2 green-text">
				Fijo: <%= papeleta_day %>-<%= fijo_day %>
			</div>
		</div>
	</div>

	<!-- DIA CORRIDO #1 -->

	<div class="col s4 m2">
		<div class="card user-card center-align">
			<div class="content">
				<div class="img-container actual orange">
					<div class="img" style="<%= getImage(corrido1_day-1, "{{APP_SERVICE_PATH}}/images") %>"></div>
				</div>
				<span class="blue-grey-text"><%= getName(corrido1_day-1) %></span>
			</div>
			<div class="action grey lighten-2 green-text">
				Corrido1: <%= corrido1_day %>
			</div>
		</div>
	</div>

	<!-- DIA CORRIDO #2 -->

	<div class="col s4 m2">
		<div class="card user-card center-align">
			<div class="content">
				<div class="img-container actual orange">
					<div class="img" style="<%= getImage(corrido2_day-1, "{{APP_SERVICE_PATH}}/images") %>"></div>
				</div>
				<span class="blue-grey-text"><%= getName(corrido2_day-1) %></span>
			</div>
			<div class="action grey lighten-2 green-text">
				Corrido2: <%= corrido2_day %>
			</div>
		</div>
	</div>
</div>

<% if(fijo_night) { %>
	<div class="row">
		<div class="col s12">
			<span class="chip tiny black white-text"><i class="far fa-moon"></i> Noche</span>
		</div>

	<!-- NOCHE FIJO -->

	<div class="col s4 m2">
		<div class="card user-card center-align">
			<div class="content">
				<div class="img-container actual orange">
					<div class="img" style="<%= getImage(fijo_night-1, "{{APP_SERVICE_PATH}}/images") %>"></div>
				</div>
				<span class="blue-grey-text"><%= getName(fijo_night-1) %></span>
			</div>
			<div class="action grey lighten-2 green-text">
				Fijo: <%= papeleta_night %>-<%= fijo_night %>
			</div>
		</div>
	</div>

	<!-- NOCHE CORRIDO #1 -->

	<div class="col s4 m2">
		<div class="card user-card center-align">
			<div class="content">
				<div class="img-container actual orange">
					<div class="img" style="<%= getImage(corrido1_night-1, "{{APP_SERVICE_PATH}}/images") %>"></div>
				</div>
				<span class="blue-grey-text"><%= getName(corrido1_night-1) %></span>
			</div>
			<div class="action grey lighten-2 green-text">
				Corrido1: <%= corrido1_night %>
			</div>
		</div>
	</div>

	<!-- NOCHE CORRIDO #2 -->

	<div class="col s4 m2">
		<div class="card user-card center-align">
			<div class="content">
				<div class="img-container actual orange">
					<div class="img" style="<%= getImage(corrido2_night-1, "{{APP_SERVICE_PATH}}/images") %>"></div>
				</div>
				<span class="blue-grey-text"><%= getName(corrido2_night-1) %></span>
			</div>
			<div class="action grey lighten-2 green-text">
				Corrido2: <%= corrido2_night %>
			</div>
		</div>
	</div>
	</div>
<% } %>

<!-- MESSAGE -->

<div class="col s12">
	<p style="font-size:smaller;">Los resultados pueden demorar hasta 30 minutos en ser publicados en la web oficial de apuestas de Florida, de donde salen nuestros números. Última actualización <%= moment(updated).format('D [de] MMMM [del] YYYY [a las] h:mm:ss a') %>.</p>
</div>

<!-- SHARE MODAL -->

<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea black-text"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar">
				<i class="fas fa-fan material-icons circle"></i>
				<span class="title black-text">Números de la bolita el <%= moment(corrida).format('M/D/Y') %></span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="share()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>