<div class="row">
	<div class="col s12">
		<h1>Últimos 7 resultados</h1>

		<h2>El Fijo</h2>
		<table class="striped">
			<tr>
				<th>Pick3</th>
				<th class="center-align">Fijo</th>
			</tr>
			<% for(var i=0; i<lastResultsP3.length; i++) { %>
			<tr>
				<td><%= lastResultsP3[i].NumGanador %></td>
				<td class="center-align">
					<b><%= lastResultsP3[i].fijo %></b><br>
					<small><%= lastResultsP3[i].charada %></small>
				</td>
			</tr>
			<% } %>
		</table>

		<h2>Corridos</h2>
		<table class="striped">
			<tr>
				<th>Pick4</th>
				<th class="center-align">Corrido 1</th>
				<th class="center-align">Corrido 2</th>
			</tr>

			<% for(var i=0; i<lastResultsP4.length; i++) { %>
			<tr>
				<td><%= lastResultsP4[i].NumGanador %></td>
				<td class="center-align">
					<b><%=lastResultsP4[i].corrido1 %></b><br>
					<small><%= lastResultsP4[i].charada1%></small>
				</td>
				<td class="center-align">
					<b><%=lastResultsP4[i].corrido2 %></b><br>
					<small><%= lastResultsP4[i].charada2%></small>
				</td>
			</tr>
			<% } %>
		</table>
	</div>
</div>

<div class="fixed-action-btn hide-on-unique">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BOLITA'})"><i class="material-icons">arrow_back</i></a>
</div>