<div class="row" id="esfera">
	<div class="col s12 center-align">
		<div id="esfera-out" onclick="toggleSuerte()">
			<div id="esfera-in" class="orange">
				<img src="{{APP_SERVICE_PATH}}/images/esfera-suerte.png" class="responsive-img">
			</div>
		</div>
	</div>
	<div class="col s12 center-align" style="padding: 2rem;">
		<p><b>Pulsa la bola de cristal para consultar tus números de la suerte el día de hoy</b></p>
	</div>
</div>

<div class="row" id="suerte" style="display:none;">
	<div class="col s6 offset-s3 m4 offset-m4 l2 offset-l5 center-align" style="margin-bottom:2rem">
		<div id="esfera-in" class="orange">
			<img src="{{APP_SERVICE_PATH}}/images/esfera-suerte.png" class="responsive-img">
		</div>
	</div>

	<div class="col s12">
		<ul class="collection one-line">
			<!-- FIJO -->

			<li class="collection-item avatar">
				<div class="tiny material-icons orange circle img-container">
					<div class="img small" style="<%= getImage(fijo-1, "{{APP_SERVICE_PATH}}/images", 25) %>"></div>
				</div>
				<span class="title"><b>#<%= fijo %> <%= charada[fijo-1] %></b></span>
				<p class="blue-grey-text"><%= charadaDescription[fijo-1] %></p>
			</li>

			<!-- CORRIDO #1 -->

			<li class="collection-item avatar">
				<div class="tiny material-icons orange circle img-container">
					<div class="img small" style="<%= getImage(corrido1-1, "{{APP_SERVICE_PATH}}/images", 25) %>"></div>
				</div>
				<span class="title"><b>#<%= corrido1 %> <%= charada[corrido1-1] %></b></span>
				<p class="blue-grey-text"><%= charadaDescription[corrido1-1] %></p>
			</li>

			<!-- CORRIDO #2 -->

			<li class="collection-item avatar">
				<div class="tiny material-icons orange circle img-container">
					<div class="img small" style="<%= getImage(corrido2-1, "{{APP_SERVICE_PATH}}/images", 25) %>"></div>
				</div>
				<span class="title"><b>#<%= corrido2 %> <%= charada[corrido2-1] %></b></span>
				<p class="blue-grey-text"><%= charadaDescription[corrido2-1] %></p>
			</li>
		</ul>
	</div>
</div>