<div class="row">
	<div class="top-space"></div>

	<!-- ESFERA -->

	<div id="esfera" class="col s12 center-align">
		<div class="esfera-out" onclick="toggleSuerte()">
			<div class="esfera-in orange">
				<img src="{{APP_SERVICE_PATH}}/images/esfera-suerte.png" class="responsive-img">
			</div>
		</div>

		<p><b>Pulsa la bola de cristal para consultar tus números de la suerte el día de hoy</b></p>
	</div>

	<!-- SUERTE -->

	<div id="suerte" class="col s12">
		<div class="esfera-out small">
			<div class="esfera-in orange center-align">
				<img src="{{APP_SERVICE_PATH}}/images/esfera-suerte.png" class="responsive-img">
			</div>
		</div>

		<ul class="collection one-line">
			<!-- FIJO -->

			<li class="collection-item avatar">
				<div class="tiny material-icons orange circle img-container">
					<div class="img small" style="<%= getImage(fijo-1, "{{APP_SERVICE_PATH}}/images", 25) %>"></div>
				</div>
				<span class="title"><b>#<%= fijo %> <%= charada[fijo-1] %></b></span>
				<p class="blue-grey-text"><%= charadaDescription[fijo-1] %></p>
			</li>

			<!-- CORRIDO #1 -->

			<li class="collection-item avatar">
				<div class="tiny material-icons orange circle img-container">
					<div class="img small" style="<%= getImage(corrido1-1, "{{APP_SERVICE_PATH}}/images", 25) %>"></div>
				</div>
				<span class="title"><b>#<%= corrido1 %> <%= charada[corrido1-1] %></b></span>
				<p class="blue-grey-text"><%= charadaDescription[corrido1-1] %></p>
			</li>

			<!-- CORRIDO #2 -->

			<li class="collection-item avatar">
				<div class="tiny material-icons orange circle img-container">
					<div class="img small" style="<%= getImage(corrido2-1, "{{APP_SERVICE_PATH}}/images", 25) %>"></div>
				</div>
				<span class="title"><b>#<%= corrido2 %> <%= charada[corrido2-1] %></b></span>
				<p class="blue-grey-text"><%= charadaDescription[corrido2-1] %></p>
			</li>
		</ul>
	</div>
</div>